<div class="container justify-content-center" >
  <div class="row justify-content-center" >
    <div class="col-md-4 ">
      <form class="px-20 py-3" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mdb-form-control>
      
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input mdbInput type="email"  class="form-control" name="email" formControlName="email">
          <label mdbLabel class="form-label" for="form1Example1" >Email</label>
        </div>
      </mdb-form-control>
        <mdb-form-control>
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input mdbInput type="password" class="form-control" formControlName="password" />
          <label mdbLabel class="form-label" for="form1Example2">Contraseña</label>
        </div>
      </mdb-form-control>
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">

          <div class="col">
            <!-- Simple link -->
            <a href="#!">¿Olvido su contraseña?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Inicar Sesión</button>
      </form>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink="/register">¿Eres nuevo? Registrate!!!</a>
      <a class="dropdown-item" href="#">Recuperar su contraseña</a>
    </div>
    
  </div>
</div>
