<header>
    <!-- Intro settings -->
    <style>
      /* Default height for small devices */
      #intro-example {
        height: 400px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
        }
      }
    </style>
  <!-- Background image -->
  <div id="intro-example" class="p-5 text-center bg-image">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Pexshop</h1>
          <h5 class="mb-4">Dejanos a nosotros tus mascotas</h5>
          <a
            class="btn btn-outline-light btn-lg m-2"
            routerLink="/login"
            role="button"
            rel="nofollow"
            >Inicia Sesión</a
          >
          <a
            class="btn btn-outline-light btn-lg m-2"
            href="#"
            role="button"
            >Conocenos</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>